* {
  box-sizing: border-box;
}
body {
  background-color: #ffffff;
  margin: 10px;
  font-family: "montserrat", sans-serif;
  font-weight: 300;
}
img {
  max-width: 100%;
}
main {
  margin: 0 50px;
}
.header {
  display: flex;
  justify-content: center;
  gap: 200px;
  align-items: center;
  border-bottom: 2px solid #000000;
  margin: 0 50px;
}
.intro {
  padding: 20px;
  margin: 50px 0 100px 0;
}
.h1,
.h2 {
  color: #000000;
  font-size: 3rem;
  padding: 10px;
  text-align: start;
  font-weight: 800;
}
.menu {
  width: 200px;
  padding: 20px;
  margin: 50px 0 100px 0;
}
.menu-text {
  color: #000000;
  font-size: 1rem;
  padding: 10px;
  text-align: center;
  font-weight: 800;
}
.menu-text:hover {
  color: #583a30d9;
}
.container {
  display: flex;
  align-items: start;
  padding: 80px 0;
  gap: 50px;
}
.first {
  display: flex;
  justify-content: start;
  border-bottom: 2px solid #000000;
}
.text {
  color: #000000;
  font-size: 1.5rem;
}
.container a {
  text-decoration: none;
  font-size: 3rem;
  color: #000000;
}
a:hover {
  color: #583a30d9;
}
.first img {
  width: 300px;
}
.second {
  display: flex;
  justify-content: flex-end;
  border-bottom: 2px solid #000000;
}
.second img {
  height: 400px;
}
.left-2 img {
  width: 350px;
}
.third {
  display: flex;
  justify-content: start;
  margin-bottom: 100px;
  border-bottom: 2px solid #000000;
}
.footer {
  display: flex;
  justify-content: end;
  margin: 20px;
  align-items: center;
}
.footer-text {
  color: #000000;
  font-family: "montserrat", sans-serif;
  font-size: 1rem;
  margin: 20px;
}
.footer div {
  margin: 20px;
}
@media screen and (max-width: 600px) {
  main {
    margin: 0 16px;
  }
  .h1,
  .h2 {
    font-size: 1.5rem;
    text-align: center;
    padding: 4px 0 4px 0;
  }
  .header {
    flex-direction: column;
    justify-content: flex-start;
    gap: 0;
    padding: 0;
    margin: 16px;
  }
  .intro {
    margin: 24px 0;
    padding: 0;
    width: 100%;
  }
  .menu {
    display: flex;
    justify-content: space-between;
    margin: 0 0 24px 0;
    padding: 0;
    width: 100%;
  }
  .container {
    justify-content: center;
    align-items: center;
  }
  .container a {
    font-size: 2rem;
    margin-bottom: 24px;
    align-self: flex-start;
  }
  .first,
  .third {
    margin: 16px 0;
    padding: 20px 0;
    flex-direction: column-reverse;
    justify-content: center;
    gap: 0;
    height: fit-content;
  }
  .left {
    margin-bottom: 24px;
  }
  .left-2 {
    margin-bottom: 24px;
  }
  .second {
    margin: o;
    padding: 20px 0;
    flex-direction: column;
    justify-content: center;
    gap: 0;
    height: fit-content;
  }
  .right {
    margin-bottom: 0px;
  }
  .third {
    margin-bottom: 50px;
  }
  .footer {
    flex-direction: column;
    margin: 16px;
    align-items: end;
  }
  .footer-text {
    padding: 8px 0;
    margin: 0;
  }
  .footer div {
    padding: 8px 0;
    margin: 0;
  }
}
